<h1></h1>

<h2 style ="text-align: center;">sign in </h2>

<%= form_tag "/renters/handle_login" do %>
   <%= label_tag :username%><br>
   <%= text_field_tag :username %><br>
   <%= label_tag :password%><br>
   <%= password_field_tag :password%><br>
   <%= submit_tag("Submit", :class => "style_submit") %>
<%end%>

<h3 style ="text-align: center;"><%=@errors%></h3>




