<% if logged_in? %>
    <h1></h1>
    <h2>Hi, <%= current_renter.name.capitalize %></h2>
<%end%>

<li>Username: <%=current_renter.username%><li>
Name: <%=current_renter.name%><li>
Address: <%=current_renter.address%><li>
Age: <%=current_renter.age%><li>
Phone Number: <%=current_renter.phone_number%>

<% if @bookings%>
<h3>Your bookings: <%= %></h3>

<%@bookings.each do |booking|%>
        <li><%= link_to booking.date, booking_path(booking) %><br><br>
    <%end%>
<%end%>


<h3>Options: <%= %></h3>
<%= link_to "Add a puppy review", new_review_path, :class => "style_link"%> <br> <br> <br>

<%= link_to "Update your profile here", edit_renter_path(current_renter), :class => "style_link" %>









