<h1></h1>
<h2>Hi! my name is <%= @pet.name%>!</h2>

<%= image_tag(@pet.picture, :alt => "rss feed", :class => "style_image") %>

<p><li>Name: <%= @pet.name%> </p>
<p><li>Description: <%= @pet.description%> </p>
<p><li>Color: <%= @pet.color%></p>
<p><li>Location: <%= @pet.location%>! </p><br>

<p><%= link_to "book me!",new_booking_path, :class => "style_link" %></p><br>

<h3>Reviews of <%= @pet.name%>: <%= %></h3>

<%stars = 0%>
<%@reviews.each do |review|%>
<%stars += review.rating %>
<%end%>
<h4>Average rating: <%=rating = (stars/@reviews.count)%> stars<h4>


<%@reviews.each do |review|%>
<%renter = Renter.find(review.renter_id)%>

<% if review.date %>
<li>Date: <%=review.date%><br>
<%end%>
<li>Reviewer: <%=renter.name%><br>
<li>Comment: <%=review.comment%><br>
<li>Rating: <%= review.rating%><br><br>
<%end%>

