<h1> </h1>
<h2 style ="text-align: center;">Create a Booking:</h2>

<% if @errors %>
Errors: <%@errors.each do |error| %>
        <p><li><%= error%></p>  
    <% end %>
<% end %>

<%=form_for @new_booking do |f| %>
<%=f.label :pet %><br>
<%=f.collection_select :pet_id, @pets, :id, :name%><br>
<%=f.label :date %><br>
<%=f.date_select "date", order: [:day, :month, :year] %><br>
<%=f.label :your_location %><br>
<%=f.text_field :location%><br>
<%=f.hidden_field :renter_id, :value => @current_renter %>
<%=f.submit('create booking', :class => "style_submit")%>
<%end%>