<h1>Add a review </h1>

<%= form_for @review do |f| %>
<%= f.label :comment %><br>
<%= f.text_field :comment %><br>
<%= f.label :rating %><br>
<%= f.number_field :rating %><br>
<%= f.label :date %><br>
<%= f.text_field :date %><br>
<%= f.label :pet_id %><br>
<%= f.collection_select :pet_id, @pets, :id, :name %><br>
<%=f.hidden_field :renter_id, :value => @current_renter %>
<%= f.submit('create review', style: "width:150px;height:250;background-color:#FD6156;font-family: 'BreeSerif-Regular', BreeSerif-Regular, sans-serif;color: #FFFFFF;padding: 10px;border-radius: 10px;border:0px;font-size: 15px;position: relative;margin-top: 10px;")%>
<% end %>




